@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@font-face {
  font-family: 'Aglet Sans';
  src: url('../public/fonts/AgletSans-Regular.woff2') format('woff2'),
      url('../public/fonts/AgletSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Aglet Sans';
  src: url('../public/fonts/AgletSans-BlackItalic.woff2') format('woff2'),
      url('../public/fonts/AgletSans-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Aglet Sans';
  src: url('../public/fonts/AgletSans-Black.woff2') format('woff2'),
      url('../public/fonts/AgletSans-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Aglet Sans';
  src: url('../public/fonts/AgletSans-BoldItalic.woff2') format('woff2'),
      url('../public/fonts/AgletSans-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Aglet Sans';
  src: url('../public/fonts/AgletSans-Bold.woff2') format('woff2'),
      url('../public/fonts/AgletSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Aglet Sans';
  src: url('../public/fonts/AgletSans-ExtraLight.woff2') format('woff2'),
      url('../public/fonts/AgletSans-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Aglet Sans';
  src: url('../public/fonts/AgletSans-Italic.woff2') format('woff2'),
      url('../public/fonts/AgletSans-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Aglet Sans';
  src: url('../public/fonts/AgletSans-Light.woff2') format('woff2'),
      url('../public/fonts/AgletSans-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Aglet Sans';
  src: url('../public/fonts/AgletSans-ExtraLightItalic.woff2') format('woff2'),
      url('../public/fonts/AgletSans-ExtraLightItalic.woff') format('woff');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Aglet Sans';
  src: url('../public/fonts/AgletSans-LightItalic.woff2') format('woff2'),
      url('../public/fonts/AgletSans-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Aglet Sans';
  src: url('../public/fonts/AgletSans-Semibold.woff2') format('woff2'),
      url('../public/fonts/AgletSans-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Aglet Sans';
  src: url('../public/fonts/AgletSans-UltraItalic.woff2') format('woff2'),
      url('../public/fonts/AgletSans-UltraItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Aglet Sans';
  src: url('../public/fonts/AgletSans-SemiboldItalic.woff2') format('woff2'),
      url('../public/fonts/AgletSans-SemiboldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Aglet Sans';
  src: url('../public/fonts/AgletSans-Ultra.woff2') format('woff2'),
      url('../public/fonts/AgletSans-Ultra.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}



@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  font-family: 'Aglet Sans' !important;
}

body {
  background-color: black;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}



.MuiDialog-paper{
  width: 100% !important;
  max-width: 500px !important;
  margin: 0 !important;
  margin-top: auto !important;
  margin-bottom: 0px !important;
  background-color: white !important;
  border-top-left-radius: 24px !important;
  border-top-right-radius: 24px !important;
}

.MuiDialogContent-root {
  padding: 20px !important;
  padding-top: 50px !important;
}

.MuiDialog-paper * {
  font-family: Nohemi, sans-serif !important;
}

body {
  max-width: 500px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
}

#__next {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
  background: white;
}

.text-base, .text-xs {
  line-height: 1.5;
  letter-spacing: -.03em;
}

#ton-connect-button button {
  background-color: #048DFF !important;
}

#ton-connect-button button *{
  font-family: Nohemi,system-ui,sans-serif !important;
}

.coingroup:active >div:first-of-type{
  transform: scale(1.05) rotateY(45deg) !important;
}

.gradient-text {
  /* -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  background-image: linear-gradient(90deg, #0075FF, #86BEFF); */
  color: #86BEFF;
}

@keyframes example1 {
  0% {
    transform: scale(1);
    opacity:1;
  }
  100% {
    transform: scale(5);
    opacity:0;
  }
}

@keyframes tapper {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

.tapper {
  animation-name: tapper;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.pulse {
  animation-name: example1;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

button {
  font-weight: 700;
  
}
.svg-icons.active-menu svg {
 fill: #ffa4d5 !important;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem}
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%}
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}